num2words==0.5.14
ukrainian_word_stress @ https://github.com/ArseniiBuhaiev/ukrainian-word-stress
ua_text_stressifier @ git+https://github.com/ArseniiBuhaiev/ua-text-stressifier.git
tokenize_uk==0.2.0
english_g2p @ git+https://github.com/ArseniiBuhaiev/english_g2p.git
spacy==3.8.14